/* Navbar */
.navbar-nav .nav-link {
  color: #000;
  margin-right: 20px;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #a52a2a;
}

.btn-dark {
  background-color: #4a1f1f;
  border-color: #4a1f1f;
}

.btn-dark:hover {
  background-color: #5c2727;
  border-color: #5c2727;
}

/* Fondo personalizado */
.custom-background {
  background-color: #ece5dd;
  padding: 20px;
}

/* Promociones */
h2 span {
  color: #a52a2a;
}

.btn-danger {
  background-color: #d2232a;
  border: none;
}

.btn-danger:hover {
  background-color: #b11e23;
}

/* Formulario (Contactanos) */
h2 {
  color: #a52a2a;
}

form input,
form textarea {
  border: 1px solid #ddd;
  border-radius: 5px;
}

form input:focus,
form textarea:focus {
  outline: none;
  border-color: #d2232a;
  box-shadow: 0 0 5px rgba(210, 35, 42, 0.5);
}

/* Scrollbar oculto */
.d-flex::-webkit-scrollbar {
  display: none;
}

.d-flex {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Tarjetas de Promociones */
.card-title,
.card-text {
  white-space: normal;
  overflow: visible;
}

.card {
  flex: 0 0 auto;
}

/* Parte Content-Home */

/* Contenedor principal */
.additional-section {
  margin-top: 50px;
}

/* Parte superior */
.top-section {
  background-color: #ece5dd;
  /* Color beige similar al ejemplo */
  padding: 40px;
  display: flex;
  justify-content: left;
  align-items: left;
}

.bottom-section {
  background-color: white;
  /* Color azul */
  padding: 40px;
  display: flex;
  justify-content: right;
  align-items: right;
}

.content-box {
  background-color: #fff;
  /* Fondo blanco para el contenido */
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  max-width: 600px;
  text-align: center;
}

.content-box h3 {
  color: #a52a2a;
  /* Marrón para títulos */
  margin-bottom: 10px;
}

.content-box p {
  color: #555;
  /* Gris oscuro para el texto */
}




.top-section .content-box {
  margin-right: 20px;
  /* Espaciado entre el texto y el video */
}




.section-header h2 {
  font-size: 28px;
  font-weight: bold;
  color: #8B0000;
  /* Marrón oscuro */
}

@media (max-width: 768px) {
  .top-section {
    flex-direction: column;
    /* Cambia a diseño vertical */
    text-align: center;
  }

  .tiktok-video-container iframe {
    width: 100%;
    /* Ajusta el video al ancho disponible */
    height: auto;
  }
}