.navbar-nav .nav-link {
  color: #000;
  margin-right: 20px;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #a52a2a;
  /* Color marrón similar */
}

.btn-dark {
  background-color: #4a1f1f;
  border-color: #4a1f1f;
}

.btn-dark:hover {
  background-color: #5c2727;
  border-color: #5c2727;
}


Promocion 

h2 span {
  color: #a52a2a;
  /* Color rojo similar */
}

.btn-danger {
  background-color: #d2232a;
  border: none;
}

.btn-danger:hover {
  background-color: #b11e23;
}